<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tim & Maddy - Dashboard</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/datepicker3.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">

<!--Icons-->
<script src="js/lumino.glyphs.js"></script>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>


<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Tim & Maddy</span> Admin</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> <%= user.displayName %> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
							<li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
							<li><a href="/logout"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="/"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
		</ul>

	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Dashboard</h1>
			</div>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-blue panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked open letter"><use xlink:href="#stroked-open-letter"></use></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large"><%= data.attending %> / <%= data.attending + data.notAttending %></div>
							<div class="text-muted">RSVPs Accepted</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-orange panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked empty-message"><use xlink:href="#stroked-empty-message"></use></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large"><%= data.commentCount %></div>
							<div class="text-muted">Comments</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-teal panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large"><%= data.individualCount %></div>
							<div class="text-muted">Total Attendees</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-red panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large"><%= data.roomCount %></div>
							<div class="text-muted">Rooms Requested</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">RSVP Response Overview</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>RSVPs Accepted</h4>
						<div class="easypiechart" id="easypiechart-blue" data-percent="<%= Math.round(data.attending / (data.attending + data.notAttending)*100) %>" ><span class="percent"><%= Math.round(data.attending / (data.attending + data.notAttending)*100) %>%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Comments Replied To</h4>
						<div class="easypiechart" id="easypiechart-orange" data-percent="100" ><span class="percent">100%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Estimated Attendence</h4>
						<div class="easypiechart" id="easypiechart-teal" data-percent="<%= Math.round(data.attending/140*100) %>" ><span class="percent"><%= Math.round((data.individualCount/140)*100) %>%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Estimated Rooms</h4>
						<div class="easypiechart" id="easypiechart-red" data-percent="<%= Math.round(data.roomCount/20*100) %>" ><span class="percent"><%= Math.round(data.roomCount/20*100) %>%</span>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
								
		<div class="row">
			<div class="col-md-8">
			
				<div class="panel panel-default chat">
					<div class="panel-heading" id="accordion"><svg class="glyph stroked two-messages"><use xlink:href="#stroked-two-messages"></use></svg> Chat</div>
					<div class="panel-body">
						<ul id="chatMessages">
						</ul>
					</div>
					
					<div class="panel-footer">
						<div class="input-group">
							<input id="chat-input" type="text" class="form-control input-md" placeholder="Type your message here..." />
							<span class="input-group-btn">
								<button class="btn btn-success btn-md" id="chat-btn">Send</button>
							</span>
						</div>
					</div>
				</div>
				
			</div><!--/.col-->
			
			<div class="col-md-4">
			
				<div class="panel panel-blue">
					<div class="panel-heading dark-overlay"><svg class="glyph stroked clipboard-with-paper"><use xlink:href="#stroked-clipboard-with-paper"></use></svg>To-do List</div>
					<div class="panel-body">
						<ul class="todo-list" id="todos">

							
						</ul>
					</div>
					<div class="panel-footer">
						<div class="input-group">
							<input id="todo-input" type="text" class="form-control input-md" placeholder="Add new task" />
							<span class="input-group-btn">
								<button class="btn btn-primary btn-md" id="todo-btn">Add</button>
							</span>
						</div>
					</div>
				</div>
								
			</div><!--/.col-->
		</div><!--/.row-->
	</div>	<!--/.main-->
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/jsrender.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	
	<script id="chatTemplate" type="text/x-jsrender">
		{{for messages}}
		<li class="left clearfix">
			<span class="chat-img pull-left">
				<img src={{>"/" + user.icon}} alt="User Avatar" class="img-circle" />
			</span>
			<div class="chat-body clearfix">
				<div class="header">
					<strong class="primary-font">{{:user.displayName}}</strong> <small class="text-muted">{{:timestamp}}</small>
				</div>
				<p>{{:message}}</p>
			</div>
		</li>
		{{/for}}
	</script>

	<script id="todoTemplate" type="text/x-jsrender">
		{{if todos.length === 0}}
			<li class="todo-list-item"><span class="text-center">None!</span></li>
		{{/if}}
		{{for todos}}
		<li data-id={{>_id}} id={{>_id}} class="todo-list-item">
			<div class="checkbox">
				{{if completed == true}}
				<input type="checkbox" data-id={{>_id}} id="checkbox" class="todo-checkbox" checked />
				{{else completed == false}}
				<input type="checkbox" data-id={{>_id}} id="checkbox" class="todo-checkbox" />
				{{/if}}
				<label id={{>"todo-message-"+_id}} for="checkbox">{{:message}}</label>
			</div>
			<div class="pull-right action-buttons">
				<a href="" data-id={{>_id}} class="edit-btn"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg></a>
				<a href="" data-id={{>_id}} class="trash trash-btn"><svg class="glyph stroked trash"><use xlink:href="#stroked-trash"></use></svg></a>
			</div>
		</li>
		{{/for}}
	</script>

	<script id="todoEditTemplate" type="text/x-jsrender">
		<li data-id={{>_id}} id={{>_id}} class="todo-list-item">
			<div class="input-group">
				<input type="text" data-id={{>_id}} id={{>"edit-todo-"+_id}} class="form-control input-md" value='{{>message}}'></input>
				<span class="input-group-btn">
					<button data-id={{>_id}} class="btn btn-success btn-md todo-edit-btn">Update</button>
				</span>
			</div>
		</li>
	</script>

	<script>
		var dat = <%- JSON.stringify(data) %>
		var xDat1 = dat.createdDatesSorted;
		var yDat1 = [];

		xDat1.forEach(function(x) {
			yDat1.push(dat.createdDates[x]);
		});

		var xDat2 = dat.createdDatesSorted;
		var yDat2 = [];

		xDat2.forEach(function(x) {
			yDat2.push(dat.createdDatesTotalRsvps[x]);
		});

		var xDat3 = dat.createdDatesSorted;
		var yDat3 = [];

		xDat3.forEach(function(x) {
			yDat3.push(dat.createdDatesTotalAttendees[x]);
		});

		var lineChartData = {
			labels : xDat1,
			datasets : [
				{
					label: "Daily RSVPs",
					fillColor : "rgba(220,220,220,0.2)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : yDat1
				},
				{
					label: "Total RSVPs",
					fillColor : "rgba(48, 164, 255, 0.2)",
					strokeColor : "rgba(48, 164, 255, 1)",
					pointColor : "rgba(48, 164, 255, 1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(48, 164, 255, 1)",
					data : yDat2
				},
				{
					label: "Total Attendees",
					fillColor : "rgba(45, 190, 174, 0.2)",
					strokeColor : "rgba(45, 190, 174, 1)",
					pointColor : "rgba(45, 190, 174, 1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(45, 190, 174, 1)",
					data : yDat3
				}
			]

		}

		function initTodoListeners(data) {
			$('.edit-btn').click(function(ev) {
				ev.preventDefault();
				var dat = {};
				dat._id = $(this).data('id');
				dat.message = $("#todo-message-" + $(this).data('id')).html();
				var tmpl = $.templates('#todoEditTemplate');
				var html = tmpl.render(dat);
				console.log(dat);
				$("li#" + $(this).data('id')).html(html);
				$('.todo-edit-btn').click(function(ev) {
					ev.preventDefault();
					$.put('/todo', {id: $(this).data('id'), message: $('#edit-todo-' + $(this).data('id')).val()}, function(err) {
						$.get('/todos', function(data) {
							var tmpl = $.templates("#todoTemplate");
							var html = tmpl.render(data);
							window._todoData = data;
							$("#todos").html(html);
							initTodoListeners(data);
						});
					});
				});
			});
			
			$('.trash-btn').click(function(ev) {
				ev.preventDefault();
				$.delete('/todo', {id: $(this).data('id')}, function(res) {
					$.get('/todos', function(data) {
						var tmpl = $.templates("#todoTemplate");
						var html = tmpl.render(data);
						window._todoData = data;
						$("#todos").html(html);
						initTodoListeners(data);
					});
				});
			});

			$('.todo-checkbox').click(function(ev) {
				var checked = $(this).is(":checked");
				$.put('/checkTodo', {id: $(this).data('id'), completed: checked}, function(res) {
					$.get('/todos', function(data) {
						var tmpl = $.templates("#todoTemplate");
						var html = tmpl.render(data);
						window._todoData = data;
						$("#todos").html(html);
						initTodoListeners(data);
					});
				});
			});

		}

		window.onload = function(){
			var chart1 = document.getElementById("line-chart").getContext("2d");
			window.myLine = new Chart(chart1).Line(lineChartData, {
				responsive: true
			});
		};

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})

		$('#chat-btn').click(function(el,ev) {
			$.post('/addComment', {message: $('#chat-input').val()}, function(res) {
				$.get('/chatMessages', function(data) {
					var tmpl = $.templates("#chatTemplate");
					var html = tmpl.render(data);
					window._messagesLength = data.length;
					$("#chatMessages").html(html);
				});
				$("#chat-input").val('');
			});
		});

		$('#todo-btn').click(function(el, ev) {
			$.post('/addTodo', {message: $("#todo-input").val()}, function(res) {
				$.get('/todos', function(data) {
					var tmpl = $.templates("#todoTemplate");
					var html = tmpl.render(data);
					window._todoData = data;
					$("#todos").html(html);
					initTodoListeners(data);
				});
				$("#todo-input").val('');
			});
		});

		$('#chat-input').bind("keypress", function(ev) {
			if (ev.which === 13)
				$('#chat-btn').click();
		});

		$('#todo-input').bind("keypress", function(ev) {
			if (ev.which === 13)
				$("#todo-btn").click();
		});

		window._messagesLength = 0;
		window._todosLength = 0;

		$(document).ready(function() {
			$.get('/chatMessages', function(data) {
				var tmpl = $.templates("#chatTemplate");
				var html = tmpl.render(data);
				window._messagesLength = data.messages.length;
				$("#chatMessages").html(html);
			});

			$.get('/todos', function(data) {
				var tmpl = $.templates("#todoTemplate");
				var html = tmpl.render(data);
				window._todoData = data;
				$("#todos").html(html);
				initTodoListeners(data);
			});
		});

		window._todoData = {};
		window._chatData = {};

		window.setInterval(function() {
			$.get('/chatMessages', function(data) {
				if (data.messages.length !== window._messagesLength) {
					var tmpl = $.templates("#chatTemplate");
					var html = tmpl.render(data);
					window._messagesLength = data.messages.length;
					$("#chatMessages").html(html);
				}
			});

			$.get('/todos', function(data) {
				if (data !== window._todoData) {
					var tmpl = $.templates("#todoTemplate");
					var html = tmpl.render(data);
					window._todoData = data;
					$("#todos").html(html);
					initTodoListeners(data);
				}
			});
		}, 5000);
		

		jQuery.each( [ "put", "delete" ], function( i, method ) {
		  jQuery[ method ] = function( url, data, callback, type ) {
		    if ( jQuery.isFunction( data ) ) {
		      type = type || callback;
		      callback = data;
		      data = undefined;
		    }

		    return jQuery.ajax({
		      url: url,
		      type: method,
		      dataType: type,
		      data: data,
		      success: callback
		    });
		  };
		});

		$()
	</script>	
</body>

</html>
